<nav class="navbar navbar-default" role="naviagation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicons glyphicons-bug"></span>
        Bedbugs Rule!
      </a>

      <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/lease">Lease</a></li>
            <li><a href="/rent">Rent</a></li>
        </ul>
    </div>
  </div>
</nav>
