<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class='container'>

<header>
    <% include ../partials/header %>
</header>

<main>
  <div class="jumbotron">
      <h1>Bedbugs</h1>
      <p>Welcome to the premiere rent-a-bed app</p>

      <h2>Your dream night awaits you</h2>
      <p>Bedbugs is a hassle free, for-profit, customer-based organisation that aims to deliver comfort to one and all.
      Join us today, and permit strangers to join you for sleepovers.</p>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
