<!DOCTYPE html>

<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class='container'>

<header>
    <% include ../partials/header %>
</header>


  <title> Your property </title>



<h2>Unordered List with Square Bullets</h2>

<ul style="list-style-type:square">
 <li>Coffee</li>
 <li>Tea</li>
 <li>Milk</li>
</ul>


</body>
