<!DOCTYPE html>
<head>

</head>

<body>
  <title> Welcome to Bedbugs </title>

  <a href="/lease"><button type='btn btn-lg btn-info' >Rent</button></a>
  <a href="/list"><button type='btn btn-lg btn-success' >List</button></a>

</body>
